/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require simple_calendar
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');

$primary-color: #008080;
$lobs:'Lobster';

.navbar-brand {
    font-family: $lobs;
}

.login {
    background-image: url('https://amarilliszkozmetika.iwk.hu/_userfiles_/amarilliszkozmetika/img/header_71725.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    font-family: 'Numans', sans-serif;
    padding: 50px;
}

.login {
  h3 {
      font-family: $lobs;
  }
  .container {
      height: 100%;
      align-content: center;
  }

  .card {
      height: 400px;
      margin-top: auto;
      margin-bottom: auto;
      width: 400px;
      background-color: rgba(0, 0, 0, 0.45) !important;
  }

  .social_icon span {
      font-size: 60px;
      margin-left: 10px;
      color: $primary-color;
  }

  .social_icon span:hover {
      color: white;
      cursor: pointer;
  }

  .card-header h3 {
      color: white;
  }

  .social_icon {
      position: absolute;
      right: 20px;
      top: -45px;
  }

  .input-group-prepend span {
      width: 50px;
      background-color: $primary-color;
      color: black;
      border: 0 !important;
  }

  input:focus {
  //outline: 0 0 0 0 !important;
      box-shadow: 0 0 0 0 !important;

  }

  .checkBox {
      color: white;
  }

  .checkBox input {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      margin-right: 5px;
  }

  .login_btn {
      color: white;
      background-color: $primary-color;
      width: 100px;
  }

  .login_btn:hover {
      color: black;
      background-color: white;
  }

  .links {
      color: white;
  }

  .links a {
      margin-left: 4px;
  }
}

.notice, .error {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.notice {
  border: 1px solid darkgreen;
  background-color: lightgreen;
}

.error {
  border: 1px solid darkred;
  background-color: lightcoral;
}

footer {
    width: 90%;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 10px;
}
