<%= form_for(idopont) do |f| %>
  <% if idopont.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idopont.errors.count, "error") %> prohibited this idopont from being saved:</h2>

      <ul>
      <% idopont.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
